.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    position: relative;
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .left {
    position: absolute;
    left: -50px;
  }
  
  .right {
    position: absolute;
    right: -50px;
  }